body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  overflow-x: hidden;
  font-family: Verdana, Geneva, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#loginPage{
  padding: 10rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("/assets/rg.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("C:\Users\ananthu.m\Documents\GitHub\WanderLut_Practice\my-react-app\public\assets\rg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size:cover ;
}
#registerPage{
  padding: 5rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("/assets/rg.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("C:\Users\ananthu.m\Documents\GitHub\WanderLut_Practice\my-react-app\public\assets\login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size:cover ;

}

.package-image{
  width:300px;
  height:200px;
}

.itineraryAbout{
  padding:2rem;
  font-weight:500;
  color: black;
}

/* .book-page{
  overflow-x: hidden;
  background-image: url("C:\Users\ananthu.m\Documents\GitHub\WanderLut_Practice\my-react-app\public\assets\bg-masthead1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

.masthead {
  position: relative; 
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)),url("C:\Users\ananthu.m\Documents\GitHub\WanderLut_Practice\my-react-app\public\assets\bg-masthead1.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("C:\Users\ananthu.m\Documents\GitHub\WanderLut_Practice\my-react-app\public\assets\bg-masthead1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.about-section {
  padding-top: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);

}

.about-paragraph{
  font-size: 20px;
  color: white;
  /* line-height: 30px; */

}

.footer-section {
  padding: 15rem 0;
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)),url("C:\Users\ananthu.m\Documents\GitHub\WanderLut_Practice\my-react-app\public\assets\bg-masthead1.jpg"); */
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("C:\Users\ananthu.m\Documents\GitHub\WanderLut_Practice\my-react-app\public\assets\bg-signup1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.subscribe-textbox{
  padding: 20px;
  border: none;
}

